/* *{
    margin: 0;
    padding: 0;
    background-color: #F0F2F8;
    
} */
.output_area,
.input_area{
    /* border: 2px solid black; */
    padding: 3rem;
    box-shadow: 5px 10px 10px 2px rgb(72, 73, 75);
    border-radius: 1rem;
    border: 1px solid black;
}

.income {
    color: green;
}

.expense{
    color: red
}

.slideContainer{
    width: 100%;
    margin-top: 1.5rem;

}

p span{
    margin-top: 2rem;
    opacity: 0.7;
}

#slider::after{
    color: black;
    font-size: 1.1rem;
    position: absolute;
    left: 80%;
}

#slider::before{
    color: black;
    font-size: 1.1rem;
    position: absolute;
    left: 0%;
    
}

#slider{
    -webkit-appearance: none;
    width : 100%;
    height : 0.8rem;
    background: linear-gradient(90deg,green 0%, white 0%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
}

#slider:hover{
    opacity:1;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 1.8rem;
    height: 1.8rem;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 1.8rem;
    height: 1.8rem;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
}

hr.solid {
    border-top: 8px solid rgb(23, 22, 26);
}

hr.dashed {
    border-top: 5px dashed rgb(23, 22, 26);
    background: none;
}

thead th{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background: teal;
    color: wheat;
    border: 1px solid black;
    padding:10px;
}


tbody th{

    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    /*  */
    background: gray;
    border: 1px solid black;
    padding:10px;

}

.table-wrapper{
    max-height: 300px;
    overflow-y: scroll;
    margin:0.5rem;
    /*  */
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0px;
    min-width: max-content;
}

tbody td {
    border: 1px solid black;
    padding:10px;
    /* font-weight: bold; */
    text-align: right;
}

.outer-wrapper {
    border: 1px solid black;
    overflow-x: scroll;
    margin: 20px;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 0px;
    max-width: fit-content;
    padding-bottom: 1.5rem;
}

.custom_border{
    border: 1px solid black;
}