<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Crypto MassIdeation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>
<body>
    <div class="container-fluid  row">
        <form class="input_area col-md-4 mt-5" action="/" method="POST">
            {% csrf_token %}
            <!-- User Inputs go here -->
            <h4>Enter Input Parameters Here</h4>
            <div class="col-12">
                <label for="income" class="form-label"><span class="income">Income / Deposits</span></label>
                <input type="text" class="form-control" id="income" name="income" placeholder="Ex: 5.0">
            </div>
            <div class="col-12 mt-3">
                <label for="expense" class="form-label"><span class="expense">Bills / Loans</span></label>
                <input type="text" class="form-control" id="expense" name="expense" placeholder="Ex: 5.0">
            </div>
            <div class="slideContainer">
                <label for="asset_percent" class="form-label"><span class="">Assets Purchased as <strong> % </strong>of monthly Income</span></label>
                <input type="range" min="0" max="100" step="1" id="slider" name="asset_percent">
                <p>Value: <span id="value"> </span></p>
            </div>
        </form>
        <div class="output_area col-8 mt-5">
            <!-- Output table goes here -->
            <h4>Analysis Table</h4>
            <div class="col-12">
                <label for="inputBuyPercent" class="form-label">Buy Percent</label>
                <input type="text" class="form-control" id="inputBuyPercent" name="buyPercent" placeholder="Ex: 5.0">
            </div>
        </div>  
    </div>
    <script src="{% static 'scripts/style.js' %}"></script>
</body>
</html>