<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Crypto MassIdeation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg> -->
              <h4>Crypto MassIdeation</h4>
              <small>{{version}}</small>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <!-- <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
              <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
              <li><a href="#" class="nav-link px-2 text-white">About</a></li> -->
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <!-- <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search"> -->
            </form>
    
            <div class="text-end">
              <!-- <button type="button" class="btn btn-outline-light me-2">Login</button>
              <button type="button" class="btn btn-warning">Sign-up</button> -->
              <a href="{% url 'index'%}"><button type="button" class="btn btn-outline-light me-2">Home</button></a>
            </div>
          </div>
        </div>
      </header>
    <div class="container-fluid  row">
        <form class="input_area col-md-3 mt-5" action="{% url 'wealth_building'%}" method="POST">
            {% csrf_token %}
            <!-- User Inputs go here -->
            <h4>Enter Input Parameters Here</h4>
            <div class="col-12">
                <label for="income" class="form-label"><span class="income">Income / Deposits (US$)</span></label>
                <input type="text" pattern="\d+([,]\d{2}\d)*([.]\d+)*"class="form-control" id="income" name="income" placeholder="5000">
            </div>
            <div class="col-12 mt-2">
                <label for="expense" class="form-label"><span class="expense">Bills / Loans (US$)</span></label>
                <input type="text" pattern="\d+([,]\d{2}\d)*([.]\d+)*" class="form-control" id="expense" name="expense" placeholder="4250">
                {% if expense_more_than_income %}
                <div class="alert alert-danger" role="alert">
                  Expense should not exceed 85% of Income!
                </div>
                {% endif %}
            </div>
            <div class="slideContainer">
                <label for="asset_percent" class="form-label"><span class="">Assets Purchased as <strong> % </strong>of monthly Income</span></label>
                <input type="range" min="10" max="80" step="1" id="slider" name="asset_percent" >
                <p>Value: <span id="value"> </span>%</p>
            </div>
            <div class="col-12 mt-2">
                <label for="numyears" class="form-label"><span class="">Num. Of Invested Yrs</span></label>
                <input type="text" pattern="\d+([.,]\d+)*" class="form-control" id="numyears" name="numyears" placeholder="20">
            </div>
            <hr class="dashed">
            <h4>Enter Interest details Here</h4>
            <div class="col-12 mt-2">
                <label for="USDC_interest" class="form-label"><span class="income">USDC Interest (%)</span></label>
                <input type="text" pattern="\d*([.,]\d+)*"  class="form-control" id="USDC_interest" name="USDC_interest" placeholder="0.3">
            </div>
            <div class="col-12 mt-2">
                <label for="Loan_interest" class="form-label"><span class="expense">Loan Interest (%)</span></label>
                <input type="text" pattern="\d*([.,]\d+)*" class="form-control" id="Loan_interest" name="Loan_interest" placeholder="3.0">
            </div>
            <div class="col-12 mt-2">
                <label for="Asset_gain" class="form-label"><span class="income">Asset Gain (%)</span></label>
                <input type="text" pattern="\d*([.,]\d+)*" class="form-control" id="Asset_gain" name="Asset_gain" placeholder="20.0">
            </div>

            <hr class="solid">
            <div>
                <button type="submit" class="btn btn-primary text-dark col-12">Submit & Analyse</button>
            </div>

        </form>
        <div class="output_area col-md-9 mt-5">
            <!-- Output table goes here -->
            <h4 class="container-fluid">Analysis Table</h4>
            {% if result %}
            <div class="outer-wrapper">
                <table class="table-wrapper">
                    <thead>
                        <th scope="col">#</th>
                        {% for k in years %}
                        <th scope="col"> Year {{k}} </th>
                        {% endfor %}
                    </thead>
                    <tbody>
                      <tr>
                            <th scope="row">Annual Income</th>
                            {% for k in income %}
                            <td id="money" style="color: green;">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">Annual Expense</th>
                            {% for k in expense %}
                            <td id="money" style="color: rgb(231, 16, 70);">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">Asset Purchased</th>
                            {% for k in asset %}
                            <td id="money">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">USDC</th>
                            {% for k in usdc %}
                            <td id="money">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">USDC + Interest</th>
                            {% for k in usdc_interest %}
                            <td id="money">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">Asset Value + Growth</th>
                            {% for k in asset_growth %}
                            <td id="money">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">Total Colleteral</th>
                            {% for k in total_colleteral %}
                            <td id="money">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">Loan + Interest</th>
                            {% for k in loan_interest %}
                            <td id="money">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">Net Colleteral</th>
                            {% for k in net_colleteral %}
                            <td id="money" style="color: green;">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">Invest Whats Left</th>
                            {% for k in invest_whats_left %}
                            <td id="money" style="color: rgb(61, 41, 148);">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                        <th scope="row">FFM Expenses in yrs</th>
                              {% for k in FFM %}
                              <td>{{k}}</td>
                              {% endfor %}
                        </tr>
                        <tr>
                              <th scope="row">invest whats left in yrs</th>
                              {% for k in inv_diff_months %}
                              <td>{{k}}</td>
                              {% endfor %}
                        </tr>
                    <tbody>
                 </table>
            </div>

            <div class="outer-wrapper">
                  <table class="table-wrapper">
                        <thead>
                              <th scope="col" colspan="2">Selected Options</th>
                        </thead>
                        <tbody>
                              {% for key,value in selected_values.items %}
                              <tr>
                                    <th scope="row">{{key}}</th>
                                    <td>{{value}}</td>
                              </tr>
                              {% endfor %}
                        </tbody>
                  </table>
            </div>
            
            {% else %}
            <div class="outer-wrapper">
                <table class="table-wrapper">
                    <thead>
                        <th scope="col">#</th>
                        {% for k in years %}
                        <th scope="col"> Year {{k}} </th>
                        {% endfor %}
                    </thead>
                    <tbody>
                      <tr>
                            <th scope="row">Asset Purchased</th>
                            {% for k in asset %}
                            <td id="money">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">USDC</th>
                            {% for k in usdc %}
                            <td id="money">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">USDC + Interest</th>
                            {% for k in usdc_interest %}
                            <td id="money">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">Asset Value + Growth</th>
                            {% for k in asset_growth %}
                            <td id="money">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">Total Colleteral</th>
                            {% for k in total_colleteral %}
                            <td id="money">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">Loan + Interest</th>
                            {% for k in loan_interest %}
                            <td id="money">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">Net Colleteral</th>
                            {% for k in net_colleteral %}
                            <td id="money" style="color: green;">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">Invest Whats Left</th>
                            {% for k in invest_whats_left %}
                            <td id="money" style="color: brown;">{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">FFM Expenses in yrs</th>
                            {% for k in FFM %}
                            <td>{{k}}</td>
                            {% endfor %}
                      </tr>
                      <tr>
                            <th scope="row">invest whats left in yrs</th>
                            {% for k in inv_diff_months %}
                            <td>{{k}}</td>
                            {% endfor %}
                      </tr>
                    <tbody>
                 </table>
            </div>
            {% endif %}
        </div>  
    </div>
    <script src="{% static 'scripts/style.js' %}"></script>
</body>
</html>